*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-width: 300px !important;
  min-height: 525px !important;
  max-width: 300px !important;
  max-height: 525px !important;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 300px;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
}
nav svg{
  cursor: pointer;
}
.main{
  width: 88%;
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
  padding-top: 3.5rem;
  height: 100vh;
}
.inputs{
  height: max-content;
  padding: 1px 1rem;
  box-shadow: var(--shadow);
  border-radius: 10px;
  background-color: white;
}
fieldset{
  display: flex;
  margin: 1rem 0;
  padding: 0.2rem;
  width: 100%;
  height: 3rem;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
}
fieldset input{
  width: 100%;
}
input[type='range']{
  -webkit-appearance: none;
  background-color:var(--dark-text); 
  width: 100%;
  height: 2px;
  cursor: pointer;
}
input[type='range']::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: var(--primary);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

input[type='range']::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 15px;
  background-color: transparent;
}
input[type='range']:active {
  background:var(--icons);
}


legend{
  display: flex;
  align-items: center;
  width: 98%;
  position: relative;
}
legend svg{
  fill:var(--icons);
  cursor: pointer;
}
.pattern{
  width: max-content;
  margin: 0;
}
.pattern:hover::before{
  content: attr(pattern);
  max-width: 10rem;
  background-color: rgba(255, 255 , 255, 0.6);
  backdrop-filter: blur(3px);
  position:absolute;
  left: 30px;
  padding: 0.3rem;
  box-shadow: var(--shadow);
  word-wrap: break-word;
  font-style:italic;
  border-radius: 5px;
} 
legend div{
  margin-left: auto;
  
}
legend div span,
.result label span{
  font-size: 15px;
}
.charlength{
  padding: 0.2rem 0;
  border-bottom: 1px solid;
}
.length{
  color: var(--primary);
}
.checkboxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
}
.checkboxes label{
  display: flex;
  align-items: center;
}
.checkboxes input{
  margin-right: 0.4rem;
}
.checkboxes button{
  margin: 0;
  padding: 0.3rem;
  background-color: red;
}
.result{
  margin: 1rem 0;
  padding: 0.5rem;
  box-shadow: var(--shadow);
  border-radius: 10px;
  background-color: white;
}
.password{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result input{
  display: inline;
  width: 85%;
  padding:0.3rem;
  border: 1px solid var(--dark-text);
  border-radius: 10px;
}
.result label{
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.3rem;
}
form button{
  display: block;
  margin: 0 auto;
  padding: 0.7rem;
  border: none;
  border-radius: 10px;
  box-shadow: var(--shadow);
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}
svg{
  cursor: pointer;
}