:root{
  --primary:rgb(71, 194, 92);
  --dark-text:rgb(25, 28, 36);
  --light-text:rgb(244, 245, 246);
  --shadow:0 5px 12px 0px rgba(25, 28, 36, 0.2), 
            0 4px 4px 0px rgba(25, 28, 36, 0.5);
  --icons:rgb(59, 120, 219);
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Nunito+Sans:ital,wght@0,200;1,200&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: var(--dark-text);
}
